body{
    background-color: rgba(25, 24, 27, 0.767);
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(244, 244, 244);
    font-size: 35px;
    font-weight: 100;
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    border: 0px;
    display: grid;
    grid-template-areas: "item item";
    grid-gap: 20px;
    padding: 0px 20px 0px 20px;
    justify-content: center;
    padding-top: 30px;
}

.item{
    max-width: 520px;
    min-width: 500px;
    height: 600px;
    border-radius: 20px;
    grid-area: "item";
    background-color: rgb(207, 209, 220);
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(59, 61, 62);
    font-size: large;
    text-align: center;
    margin:3%;
}

@media (max-width: 1078px) {
    .container{
        grid-template-areas: "item";
    }
}

@media (max-width: 532px) {
    .container{
        grid-template-areas: "item";
    }
    .item{
        max-width: 370px;
        min-width: 270px;
        max-height: 550px;
        min-height: 400px;
    }
}